html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

/* Sidebar styling */
.sidebar{
    grid-row: 1 / -1; 
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
     'dashboard'
     '.'
     'home'
     'profile'
     'messages'
     'history'
     'tasks'
     'communities'
     '.'
     'settings'
     'support'
     'privacy';
    padding: 5px;
    gap: 5px;
    background-color: rgb(0, 149, 255);
    color: white;
}


.dashboard-title {
    grid-area: dashboard;
    font-size: max(2.5vw, 30px);
    font-weight: bold;
    display: flex;
    align-items:center;
    gap: 5px;
}

.home, .profile, .messages, .history, .tasks, .communities, .settings, 
.support, .privacy {
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    display: flex;
    align-items:center;
    gap: 5px;
}

.home{
    grid-area: home;

}

.profile {
    grid-area: profile;
}

.messages {
    grid-area: messages;
}

.history {
    grid-area: history;
}

.tasks {
    grid-area: tasks;
}

.communities {
    grid-area: communities;
}

.settings {
    grid-area: settings;
}

.support {
    grid-area: support;
}

.privacy {
    grid-area: privacy;
}


/* Header stying */
.header{
    grid-column: 2 / -1;
    display: grid;
    box-shadow: 0px 4px 2px gray;
    padding: 5px;
    padding-left: 30px;
}

/* Part 1: Header 1 styling */
.header-1{
    display: grid;
    grid-template-columns: 14fr 1fr 70px 4fr;
}

.header-1 > .bell {
    height: 20px;
    place-self: center;
}

.header-1 > .header-search {
    width: 100%;
    place-self: center;
}


.header-1 > .header-search > input{
    border-radius: 20px;
    width: 80%;
    background-color: rgb(239, 235, 235);
    padding: 5px;
}

.header-1 > .header-search > label[for="search"] {
    position: relative;
}

.header-1 > .header-search > label[for="search"] > svg {
    position: absolute;
    top: 3px;
    left: 4px;
}

.header-1 > .dp {
    width: 80%;
    aspect-ratio: 1/1;
    place-self: center;
    background-image: url("./images/godfather.png ");
}

.header-1 > .name {
    align-self: center;
    margin-left: 10px;
    font-size: 20px;
}


/* Part 2: Header 2 styling */
.header-2{
    display: grid;
    grid-template-columns: 6fr 3fr;
    padding-top: 10px;
}

.header-2 > .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


.header-2 > .buttons > .new, .header-2 > .buttons > .upload, 
.header-2 > .buttons > .share {
    place-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: max(80%, 40px);
    border-radius: 20px;
    background-color: rgb(0, 149, 255);
    color: white;
    font-weight: 600;
    /* font-size: min(1.5vw, 16px); */
    transition: color 0.2s;
    transition: background-color 0.2s;
}

.header-2 > .buttons > .new:hover, .header-2 > .buttons > .upload:hover, 
.header-2 > .buttons > .share:hover{
    background-color: white;
    color: rgb(0, 149, 255);
}


.header-2 > .greeting {
    display: grid;
    grid-template-columns: 110px 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 10px;
}

.header-2 > .greeting > .dp {
    grid-row: 1 / -1;
    place-self: center;
    width: 90%;
    aspect-ratio: 1/1;
    background-image: url("./images/godfather.png ");
}

.header-2 > .greeting > .username {
    font-size: 30px;
}

.header-2>.greeting >:has(+ .username){
    align-self: end;
}



/* Main content styling */
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:  rgb(239, 235, 235);
    padding-top: 20px;
    padding-left: 30px;
}

/* Part 1: Your Projects section styling */
.main-content > .your-projects-container {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 15px auto;
}

.main-content > .your-projects-container > .your-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 10px;
}

.main-content > .your-projects-container > .your-projects > .project {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow 0.4s;
    display: flex;
    flex-direction: column;
}

.main-content > .your-projects-container > .your-projects > .project:hover {
    box-shadow: -3px 3px 2px rgb(0, 149, 255);

}

.main-content > .your-projects-container > .your-projects > .project > .item-title {
    box-shadow: inset 0 -1px 0 0 black;
    padding-bottom: 4px;
    font-size: 20px;
}  

.main-content > .your-projects-container > .your-projects > .project > .project-info {
    overflow-wrap: break-word;
    text-wrap: wrap;
    flex: 1 1 auto;
    padding-top: 10px;
    padding-bottom: 10px;


}

.main-content > .your-projects-container > .your-projects > .project > .project-footer {
    border-top: 1px dashed black;
    flex: 0 1 auto;
    text-align: right;

}  


/* Part 2: Announcements sections styling */
.main-content > .announcements-container {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 15px auto;
}

.main-content > .announcements-container > .announcements {
    display: grid;
    padding: 10px;
}


.main-content > .announcements-container > .announcements > .announcement {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main-content > .announcements-container > .announcements > .announcement:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.main-content > .announcements-container > .announcements > .announcement:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-content > .announcements-container > .announcements > .announcement:not(:last-child) {
    border-bottom: 1px solid black;
}

.main-content > .announcements-container > .announcements > .announcement > .item-title {
    flex: 0 1 auto;
    padding-bottom: 10px;
}

.main-content > .announcements-container > .announcements > .announcement > .announcement-info {
    flex: 1 1 auto;
    font-size: 12px;
}



/* Part 3: Trending section styling */
.main-content > .trending-container {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 20px auto;
}

.main-content > .trending-container > .trending {
    display: grid;
    padding: 10px;
}

.main-content > .trending-container > .trending > .trend-item {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 10px;
}

.main-content > .trending-container > .trending > .trend-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-content > .trending-container > .trending > .trend-item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-content > .trending-container > .trending > .trend-item:not(:last-child) {
    border-bottom: 1px solid black;
}



.main-content > .trending-container > .trending > .trend-item > .dp {
    grid-row: 1 / -1;
    width: 80%;
    aspect-ratio: 1/1;
    place-self: center;
}

.main-content > .trending-container > .trending > .trend-item > .username {
    align-self: end
}




/* Additional general styling */
.username, .name {
    font-weight: bold;
}

.dp {
    background-size: 90% 90%;
    border-radius: 200%;
    border: 2px solid rgb(0, 149, 255);
}

.item-title{
    font-weight: 600;
}
